body {
  background-color: rgb(169, 210, 246);
}

.container {      
      margin: 35vh 35%;
      border: 3px dotted black;
      background: rgba(229, 207, 207, 0.792);
      max-width: 35%;
      padding: 10px;
    }

.field {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}